<%- include('partials/header'); -%>
  <body>
    <div class="container">
      <h1 class="page-header">Contact Page</h1>
      <p>
        <%=text%>
      </p>
    </div>

  </body>
<%- include('partials/footer'); -%>
